---
import '../styles/style.css'
import type { Language } from '../data/languages'

interface Props {
  title: string
  lang: Language
  dir: 'ltr' | 'rtl'
}

const { title, lang, dir } = Astro.props
---

<!doctype html>
<html lang={lang} dir={dir}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no, address=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <slot />
  </body>
</html>
